<body>
    <% if logged_in? &&  current_user.admin? %>
    <%= link_to("edit","/music/#{params[:music_id]}/edit") %>
    <% end %>
    <div class = "container-fluid">
        <div class = "row">
             <div class = "col-md-6 col-md-offset-3">
               <div class="embed-responsive embed-responsive-16by9">
             <iframe class = "embed-responsive-item" src="<%= @musicpost.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
             </div>
        </div>
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
               <div style="height:500px;overflow:auto;border:1px solid #aaa;padding:10px;">
                <h2 style="text-align: center;"><%=safe_join(@musicpost.content.split("\n"),tag(:br))%></h2> 
               </div> 
            </div>
        </div>
        <div class = "row">
             <div class = "col-md-6 col-md-offset-3 visible-sm visible-xs">
                 <%= form_with(model: @micropost, local: true) do |f| %>
                 <%= f.text_area :content,class: "big input", placeholder: "公開コメントを入力..."%>
                
            　　 <%= f.submit "投稿", class: "btn btn-sm big input" %>
                
                 <% end %>
                 
               </div>
               
               
               <div class = "col-md-6 col-md-offset-3 visible-lg visible-md">
                 <%= form_with(model: @micropost, local: true) do |f| %>
                <div class="field">
                        <%= f.text_area :content,placeholder: "公開コメントを入力..."%>
                </div>
                        <%= f.submit "投稿", class: "btn btn-primary" %>
                
                 <% end %>
                 
               </div>
        </div>
        <div class="col-md-6 col-md-offset-3" style="height:600px;overflow:auto;border:1px solid #aaa;padding:10px;">
        <% @microposts.each do |micropost| %>
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
               <ol class  = "microposts">
                 <li>
                     <h1 class="visible-xs visible-sm" style= "display:inline; color:blue;"> <span class="user"><%= micropost.user.name %></span></h1>
                     <h3 class="visible-lg visible-md" style= "display:inline; color:blue;"> <span class="user"><%= micropost.user.name %></span></h3>
                      <span class="content">
               <h1 class="visible-xs visible-sm" style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h1>
               <h3 class="visible-lg visible-md" style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h3>
               <% if Like.find_by(user_id: current_user.id, post_id: micropost.id) %>
               <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>   
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: #ff2581;font-size:200%;"></i>
                <i class="far fa-thumbs-up visible-lg visible-md" style = "color: #ff2581;"></i>
               <% end %>
               <%= Like.where(post_id: micropost.id).count %>
               <% else %>
               <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: #8899a6;font-size:200%;"></i>
               <i class="far fa-thumbs-up visible-lg visible-md" style = "color: #8899a6;"></i>
               <%= Like.where(post_id: micropost.id).count %>
               <% end %>
                <% end %>
                     </span>
               </li>
              </ol>
            </div>
        </div>
        <% end %>
    </div>
   
  
</body>