<body>
    <% if logged_in? &&  current_user.admin? %>
    <%= link_to("edit","/music/#{params[:music_id]}/edit") %>
    <% end %>
    <div class = "container-fluid">
        <div class = "row">
             <div class = "col-md-6 col-md-offset-3">
               <div class="embed-responsive embed-responsive-16by9">
             <iframe class = "embed-responsive-item" src="<%= @musicpost.youtube %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
             </div>
        </div>
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
               <div style="height:500px;overflow:auto;border:1px solid #aaa;padding:10px;">
                <h2><%=simple_format(@musicpost.content , align: "center")%></h2> 
               </div> 
            </div>
        </div>
        <div class = "row">
             <div class = "col-md-6 col-md-offset-3">
                 <%= form_with(model: @micropost, local: true) do |f| %>
  
                <div class="field">
                        <%= gravatar_for current_user%>
                        <%= f.text_area :content, placeholder: "公開コメントを入力..." %>
                </div>
                        <%= f.submit "Post", class: "btn btn-primary" %>
                 <% end %>
                 
               </div>
        </div>
        <% @microposts.each do |micropost| %>
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
               <ol class  = "microposts">
                 <li>
                     <h3 style= "display:inline;"> <span class="user"><%= micropost.user.name %></span></h3>
                      <span class="content">
               <h3 style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h3>
               <%= image_tag micropost.display_image if micropost.image.attached? %>
               <% if Like.find_by(user_id: current_user.id, post_id: micropost.id) %>
               <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>   
               <i class="far fa-thumbs-up" style = "color: #ff2581;"></i>
               <% end %>
               <%= Like.where(post_id: micropost.id).count %>
               <% else %>
               <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
               <i class="far fa-thumbs-up" style = "color: #8899a6;"></i>
               <%= Like.where(post_id: micropost.id).count %>
               <% end %>
                <% end %>
                     </span>
               </li>
              </ol>
            </div>
        </div>

        <% end %>
    </div>
   
  
</body>