<% @microposts.each do |micropost| %>
        <div class = "row">
            <div class = "col-md-8 col-md-offset-2">
               <ol class  = "microposts">
                 <li>
                     <h3 style= "display:inline;"> 
                     <span class="user">
                       <%= link_to(micropost.user.name ,"/music/#{micropost.music_id}") %>
                     </span>
                     </h3>
                      <span class="content">
               <h1 class="visible-xs visible-sm"style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h1>
               <h3 class="visible-md visible-lg"style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h3>
               <%= image_tag micropost.display_image if micropost.image.attached? %>
               <% if Like.find_by(user_id: current_user.id, post_id: micropost.id) %>
               <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>   
               <i class="far fa-thumbs-up visible-md visible-lg" style = "color: #ff2581;"></i>
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: #ff2581; font-size:200%;"></i>
               <% end %>
               <%= Like.where(post_id: micropost.id).count %>
               <% else %>
               <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
               <i class="far fa-thumbs-up visible-md visible-lg" style = "color: #8899a6;"></i>
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: #8899a6; font-size:200%;"></i>
               <%= Like.where(post_id: micropost.id).count %>
               <% end %>
                <% end %>
                     </span>
               </li>
              </ol>
            </div>
        </div>

        <% end %>