<% @microposts.each do |micropost| %>
        <div class = "row">
            <div class = "col-md-6 col-md-offset-3">
               <ol class  = "microposts">
                 <li>
                     <span class="user">
                       <% musicpost = MusicPost.find_by(id: micropost.music_id) %>
                     <h1 class="visible-xs visible-sm"><%= link_to(musicpost.music_name ,"/music/#{micropost.music_id}",{class: "link"}) %></h1> 
                     <h3 class="visible-lg visible-md"><%= link_to(musicpost.music_name ,"/music/#{micropost.music_id}",{class: "link"}) %></h3>  

                     </span>
                     
                      <span class="content">
               <h1 class="visible-xs visible-sm" style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h1>
               <h3 class="visible-md visible-lg" style= "display:inline;"><%=simple_format(micropost.content , align: "center")%></h3>
            
               <% if Like.find_by(user_id: current_user.id, post_id: micropost.id) %>
               <%= link_to("/likes/#{micropost.id}/destroy",{method: "post"}) do %>   
               <i class="far fa-thumbs-up visible-md visible-lg" style = "color: #ff2581;"></i>
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: #ff2581; font-size:200%;"></i>
               <% end %>
                <p style = "color: white;"><%= Like.where(post_id: micropost.id).count%></p>
               <% else %>
               <%= link_to("/likes/#{micropost.id}/create",{method: "post"}) do %>
               <i class="far fa-thumbs-up visible-md visible-lg" style = "color: white;"></i>
               <i class="far fa-thumbs-up visible-xs visible-sm" style = "color: white; font-size:200%;"></i>
                <p style = "color: white;"><%= Like.where(post_id: micropost.id).count%></p>
               <% end %>
                <% end %>
                     </span>
               </li>
              </ol>
            </div>
        </div>

        <% end %>