<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#">ONE OK ROCK</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
        <li> <%= link_to "ホーム", root_path %></li> 
        <li><%= link_to "自分の投稿一覧", user_path(current_user) %></li> 
        <li><%= link_to "みんなの投稿", "/microposts/show" %></li>  
        <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
        <li><%= link_to "設定", edit_user_path(current_user) %></li>
         <% else%>
           <li><%= link_to "ログイン", login_path %></li>
        <li> <%= link_to "ホーム", root_path %></li> 　
          <% end %>
      </ul>
    </div>
  </div>
</nav>